<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="grid grid-cols-2 gap-4 text-xs dark:text-gray-100">
            {{!-- Đã ẩn trường internal_id khỏi form tạo đơn hàng --}}
            {{!-- <InputGroup @name={{t "fleet-ops.common.internal-id"}} @value={{@options.order.internal_id}} @helpText={{t "fleet-ops.component.modals.order-form.id-text"}} /> --}}

            <div class="input-group">
                <InputLabel @labelText={{t "fleet-ops.common.schedule"}} @helpText={{t "fleet-ops.component.modals.order-form.schedule-text"}} />
                <DateTimeInput
                    class="form-input"
                    @value={{@options.order.scheduled_at}}
                    @minDate={{format-date (now) "yyyy-MM-d"}}
                    {{!-- @minTime={{format-date (now) "HH:mm"}} --}}
                    @onUpdate={{@options.scheduleOrder}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                />
            </div>
            
            {{!-- 2025-05-08 QuyenPN Add new field estimate_date --}}
            <div class="input-group">
                <InputLabel @labelText={{t "fleet-ops.operations.orders.index.new.estimate"}} @helpText={{t "fleet-ops.operations.orders.index.new.estimate-date-help-text"}} />
                <DateTimeInput
                    class="form-input"
                    @value={{@options.order.estimate_date}}
                    @minDate={{format-date (now) "yyyy-MM-d"}}
                    @minTime={{format-date (now) "HH:mm"}}
                    @onUpdate={{@options.estimateDateOrder}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                />
            </div>

            {{!-- <div class="input-group">
                <InputLabel @labelText={{t "fleet-ops.operations.orders.index.new.fees"}} @helpText={{t "fleet-ops.operations.orders.index.new.fees-help-text"}} />
                <MoneyInput
                    class="w-full"
                    @value={{@options.order.fees}}
                    @currency={{@options.order.currency}}
                    @canSelectCurrency={{true}}
                    @onCurrencyChange={{fn (mut @options.order.currency)}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                />
            </div> --}}

            <div class="input-group">
                <Toggle
                    @label={{t "fleet-ops.operations.orders.index.new.is-collected-fees"}}
                    @wrapperClass="justify-start-i"
                    @isToggled={{@options.order.is_collected_fees}}
                    @onToggle={{fn (mut @options.order.is_collected_fees)}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                    @helpText={{t "fleet-ops.operations.orders.index.new.is-collected-fees-help-text"}}
                />
            </div>

            <InputGroup @name={{t "fleet-ops.component.modals.order-form.customer"}} @helpText={{t "fleet-ops.component.modals.order-form.customer-text"}}>
                <ModelSelect
                    @modelName="customer"
                    @selectedModel={{@options.order.customer}}
                    @placeholder={{t "fleet-ops.component.modals.order-form.select-customer"}}
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @allowClear={{true}}
                    @onChange={{@options.setOrderCustomer}}
                    as |model|
                >
                    <div class="flex items-center">
                        <div class="w-7">
                            <FaIcon @icon={{if model.isVendor "warehouse" "user"}} />
                        </div>
                        <span class="uppercase">
                            {{model.name}}
                        </span>
                    </div>
                </ModelSelect>
            </InputGroup>

            {{!-- <InputGroup @name={{t "fleet-ops.component.modals.order-form.facilitator"}} @helpText={{t "fleet-ops.component.modals.order-form.facilitator-text"}}>
                <ModelSelect
                    @modelName="facilitator"
                    @selectedModel={{@options.order.facilitator}}
                    @placeholder={{t "fleet-ops.component.modals.order-form.select-facilitator"}}
                    @triggerClass="form-select form-input"
                    @allowClear={{true}}
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                    @onChange={{@options.setOrderFacilitator}}
                    as |model|
                >
                    <div class="flex items-center">
                        <div class="w-7">
                            {{#if model.isIntegratedVendor}}
                                <Image src={{model.photo_url}} alt={{model.name}} class="w-4 h-4" width="16" height="16" />
                            {{else}}
                                <FaIcon @icon={{if model.isVendor "warehouse" "user"}} />
                            {{/if}}
                        </div>
                        <span class="uppercase">
                            {{model.name}}
                        </span>
                    </div>
                </ModelSelect>
            </InputGroup> --}}

            <InputGroup @name={{t "fleet-ops.component.modals.order-form.assign-driver"}} @helpText={{t "fleet-ops.component.modals.order-form.assign-driver-text"}}>
                <ModelSelect
                    @modelName="driver"
                    @selectedModel={{@options.order.driver_assigned}}
                    @query={{this.driversQuery}}
                    @placeholder={{t "fleet-ops.component.modals.order-form.select-driver"}}
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                    @allowClear={{true}}
                    @onChange={{@options.setDriver}}
                    as |model|
                >
                    <div class="flex items-center">
                        <div class="w-7">
                            <FaIcon @icon="id-card-alt" />
                        </div>
                        <div class="flex-1 flex flex-row truncate">
                            <span class="uppercase mr-2">{{model.name}}</span>
                            <span class="uppercase">{{model.phone}}</span>
                        </div>
                        {{#if this.order.facilitator}}
                            <div class="px-1 ml-2 leading-5 bg-green-400 rounded shadow">
                                <span class="text-xs text-green-900">
                                    {{this.order.facilitator.name}}
                                </span>
                            </div>
                        {{/if}}
                    </div>
                </ModelSelect>
            </InputGroup>

            <InputGroup @name={{t "fleet-ops.component.modals.order-form.assign-vehicle"}} @helpText={{t "fleet-ops.component.modals.order-form.assign-vehicle-text"}}>
                <ModelSelect
                    @modelName="vehicle"
                    @selectedModel={{@options.order.vehicle_assigned}}
                    @query={{this.driversQuery}}
                    @placeholder={{t "fleet-ops.component.modals.order-form.select-vehicle"}}
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                    @allowClear={{true}}
                    @onChange={{@options.setVehicle}}
                    as |model|
                >
                    <div class="flex items-center">
                        <div class="w-6">
                            <Image @src={{model.avatar_url}} @fallbackSrc={{config "defaultValues.vehicleAvatar"}} class="w-4 h-4 shadow-sm rounded-md" />
                        </div>
                        <div class="flex-1 flex flex-row truncate">
                            <span class="uppercase">{{model.display_name}}</span>
                        </div>
                    </div>
                </ModelSelect>
            </InputGroup>
        </div>

        <div class="bg-[#374151] rounded-xl p-4 mt-4 shadow-md text-sm">
            <h3 class="text-sm font-bold text-white mb-3">
                Hình thức thanh toán cước
            </h3>
            
            <div class="flex flex-col space-y-3 text-gray-200">
                <label class="flex items-center space-x-3 cursor-pointer">
                    <RadioButton
                        @radioClass="text-blue-500 focus:ring-blue-400 h-5 w-5"
                        @radioId="receive_cash_true"
                        @value={{true}}
                        @groupValue={{@options.order.is_receive_cash_fees}}
                        @name="is_receive_cash_fees"
                        @changed={{fn (mut @options.order.is_receive_cash_fees)}}
                    />
                    <span>Thu tiền ngay khi giao hàng</span>
                </label>

                <label class="flex items-center space-x-3 cursor-pointer">
                    <RadioButton
                        @radioClass="text-blue-500 focus:ring-blue-400 h-5 w-5"
                        @radioId="receive_cash_false"
                        @value={{false}}
                        @groupValue={{@options.order.is_receive_cash_fees}}
                        @name="is_receive_cash_fees"
                        @changed={{fn (mut @options.order.is_receive_cash_fees)}}
                    />
                    <span>Tính vào công nợ (thu sau)</span>
                </label>
            </div>
        </div>

        <div class="bg-[#374151] rounded-xl p-4 mt-4 shadow-md text-sm">
            <h3 class="text-sm font-bold text-white mb-3">
                Cách tính Cước phí
            </h3>
            
            <div class="flex flex-col space-y-3 text-gray-200">
                <label class="flex items-center space-x-3 cursor-pointer">
                    <RadioButton
                        @radioClass="text-blue-500 focus:ring-blue-400 h-5 w-5"
                        @radioId="is_fees_type_by_order"
                        @value={{true}}
                        @groupValue={{@options.order.is_fees_type_by_order}}
                        @name="is_fees_type_by_order"
                        @changed={{fn (mut @options.order.is_fees_type_by_order)}}
                    />
                    <span>Thu phí theo chuyến (đơn hàng)</span>
                </label>

                <label class="flex items-center space-x-3 cursor-pointer">
                    <RadioButton
                        @radioClass="text-blue-500 focus:ring-blue-400 h-5 w-5"
                        @radioId="is_fees_type_by_order"
                        @value={{false}}
                        @groupValue={{@options.order.is_fees_type_by_order}}
                        @name="is_fees_type_by_order"
                        @changed={{fn (mut @options.order.is_fees_type_by_order)}}
                    />
                    <span>Thu phí theo trọng tải</span>
                </label>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-2">
                <InputGroup>
                    <InputLabel @labelText={{t "fleet-ops.operations.orders.index.new.quantity-fees"}} @helpText={{t "fleet-ops.operations.orders.index.new.quantity-fees-help-text"}} />
                    <Input 
                        @value={{@options.order.quantity_fees}} 
                        @type="number"
                        min="1"
                        class="w-full form-input form-input-sm"
                        disabled={{@options.order.is_fees_type_by_order}}
                    />
                </InputGroup>
                <InputGroup>
                    <InputLabel @labelText={{t "fleet-ops.operations.orders.index.new.unit-price-fees"}} @helpText={{t "fleet-ops.operations.orders.index.new.unit-price-fees-help-text"}} />
                    <MoneyInput
                        class="w-full"
                        @value={{@options.order.unit_price_fees}}
                        @currency="VND"
                        @canSelectCurrency={{false}}
                    />
                </InputGroup>
            </div>
        </div>

        {{!-- <InputGroup @label={{t "fleet-ops.operations.orders.index.new.cash-or-debt"}} @helpText={{t "fleet-ops.operations.orders.index.new.cash-or-debt-help-text"}}>
            <Toggle
                @label={{t "fleet-ops.operations.orders.index.new.cash-or-debt"}}
                @wrapperClass="justify-start-i"
                @isToggled={{@options.order.is_receive_cash_fees}}
                @onToggle={{fn (mut @options.order.is_receive_cash_fees)}}
                @disabled={{@options.order.isIntegratedVendorOrder}}
                @helpText={{t "fleet-ops.operations.orders.index.new.cash-or-debt-help-text"}}
            />
        </InputGroup> --}}
        {{!-- <InputGroup @label={{t "fleet-ops.operations.orders.index.new.fees-type-by-order"}} @helpText={{t "fleet-ops.operations.orders.index.new.fees-type-by-order-help-text"}}>
            <Toggle
                @label={{t "fleet-ops.operations.orders.index.new.fees-type-by-order"}}
                @wrapperClass="justify-start-i"
                @isToggled={{@options.order.is_fees_type_by_order}}
                @onToggle={{fn (mut @options.order.is_fees_type_by_order)}}
                @disabled={{@options.order.isIntegratedVendorOrder}}
                @helpText={{t "fleet-ops.operations.orders.index.new.fees-type-by-order-help-text"}}
            />
        </InputGroup>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-2">
            <InputGroup>
                <InputLabel @labelText={{t "fleet-ops.operations.orders.index.new.quantity-fees"}} @helpText={{t "fleet-ops.operations.orders.index.new.quantity-fees-help-text"}} />
                <Input 
                    @value={{@options.order.quantity_fees}} 
                    @type="number"
                    min="1"
                    class="w-full form-input form-input-sm"
                    disabled={{@options.order.is_fees_type_by_order}}
                />
            </InputGroup>
            <InputGroup>
                <InputLabel @labelText={{t "fleet-ops.operations.orders.index.new.unit-price-fees"}} @helpText={{t "fleet-ops.operations.orders.index.new.unit-price-fees-help-text"}} />
                <MoneyInput
                    class="w-full"
                    @value={{@options.order.unit_price_fees}}
                    @currency="VND"
                    @canSelectCurrency={{false}}
                    @disabled={{@options.order.isIntegratedVendorOrder}}
                />
            </InputGroup>
        </div> --}}
    </div>
</Modal::Default>