<Layout::Section::Header @title="Báo cáo Thu Chi">
    {{!-- <Button @icon="refresh" @onClick={{this.reload}} @helpText={{t "fleet-ops.common.reload-data"}} class="mr-2" />
    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text={{t "fleet-ops.common.new"}} class="mr-2" @onClick={{this.openCreateOverlay}} @permission="fleet-ops create finances" /> --}}
    
</Layout::Section::Header>


<div class="finance-management w-full flex flex-col items-center mt-6">
  <div class="w-full space-y-3">
    <form {{on "submit" this.search}} class="w-full px-4 mb-4 mx-auto">
        <div class="flex flex-wrap gap-4 items-center">
            {{!-- Ngày bắt đầu --}}
            <input
                type="date"
                class="form-input h-9 w-[160px]"
                value={{this.startDate}}
                {{on "change" this.updateStartDate}}
            />

            {{!-- Ngày kết thúc --}}
            <input
                type="date"
                class="form-input h-9 w-[160px]"
                value={{this.endDate}}
                {{on "change" this.updateEndDate}}
            />

            {{!-- Chọn xe --}}
            <div class="w-[320px]">
                <ModelSelect
                    @modelName="vehicle"
                    @selectedModel={{this.selectedVehicle}}
                    @placeholder="-- Chọn xe --"
                    @triggerClass="form-select form-input h-9 w-full !align-middle"
                    @allowClear={{true}}
                    @renderInPlace={{false}}
                    @infiniteScroll={{false}}
                    @onChange={{this.updateSelectedVehicle}}
                    as |model|
                >
                    <div class="flex items-center space-x-2">
                    <span class="uppercase">{{model.display_name}}</span>
                    </div>
                </ModelSelect>
            </div>

            {{!-- Nút tìm kiếm --}}
            <button
              type="submit"
              class="h-9 px-4 bg-blue-600 text-white rounded hover:bg-blue-700"
              >
              Tìm kiếm
            </button>
        </div>
    </form>
  </div>

  {{!-- Dòng 4: Kết quả thu chi - full màn hình --}}
  <div class="results w-full px-4 mt-6 overflow-auto">
    {{#if this.results.length}}
      <!-- Tổng hợp thu chi -->
      <div class="flex justify-end mb-2 text-sm text-gray-700 dark:text-gray-200 px-4">
        <div class="grid grid-cols-[auto,auto] gap-x-4 text-right">
            <span class="text-blue-400">Dự thu:</span>
            <span class="font-semibold text-blue-400">{{this.totalIncome}}</span>

            <span class="text-green-400">Lái xe thu:</span>
            <span class="font-semibold text-green-400">{{this.totalIncome_Receive}}</span>

            <span class="text-yellow-400">Chênh lệch:</span>
            <span class="font-semibold text-yellow-400">{{this.totalDiffIncomeReceive}}</span>

            <span class="text-red-400">Đã chi:</span>
            <span class="font-semibold text-red-400">{{this.totalExpense}}</span>

            <span class="text-gray-400">Tiền tồn:</span>
            <span class="font-semibold text-gray-400">{{this.tien_ton}}</span>

            <span class="text-aqua-400">Lãi/Lỗ:</span>
            {{#if (gt this.lai_lo 0)}}
              <span class="font-semibold text-blue-400">{{this.lai_lo}}</span>
            {{else}}
                <span class="font-semibold text-red-400">{{this.lai_lo}}</span>
            {{/if}}
            
        </div>
      </div>

      <table class="w-full table-auto text-sm">
        <thead>
          <tr class="text-gray-400 text-xs uppercase border-b border-gray-700">
            <th class="text-left py-2 pl-2">Ngày</th>
            <th class="text-left py-2 pl-2">Hàng</th>
            <th class="text-left py-2 pl-2">Phương tiện</th>
            <th class="text-left py-2 pl-2">Khách hàng</th>
            <th class="text-left py-2 pl-2">Nơi Nhận</th>
            <th class="text-left py-2 pl-2">Nơi Trả</th>
            <th class="text-left py-2 pl-2">Tải trọng</th>
            <th class="text-left py-2 pl-2">Cước</th>
            <th class="text-left py-2 pl-2">Thành tiền</th>
            <th class="text-left py-2 pl-2">Chi phí</th>
            <th class="text-left py-2 pl-2">LX Thu</th>
            <th class="text-left py-2 pl-2">LX ứng</th>
            <th class="text-left py-2 pl-2">LX Nộp</th>
            <th class="text-left py-2 pl-2">Đổ dầu</th>
            {{!-- <th class="text-left py-2 pl-2">Loại</th> --}}
            <th class="text-left py-2 pl-2">Mô tả</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.results as |item|}}
            <tr class="border-b border-gray-700 hover:bg-gray-800 transition">
              <td class="py-2 pl-2 text-white">{{item.date}}</td>
              <td class="py-2 pl-2 text-white">{{item.sku_name}}</td>
              <td class="py-2 pl-2 text-white">{{item.plate_number}}</td>
              <td class="py-2 pl-2 text-white">{{item.customerName}}</td>
              <td class="py-2 pl-2 text-white">{{item.pickup}}</td>
              <td class="py-2 pl-2 text-white">{{item.dropoff}}</td>
              <td class="py-2 pl-2 text-white">{{item.quantity_fees}}</td>
              <td class="py-2 pl-2 text-white">{{item.unit_price_fees_display}}</td>
              <td class="py-2 pl-2 text-white">{{item.amount_display}}</td>
              <td class="py-2 pl-2 text-white">{{item.chiphi_display}}</td>
              <td class="py-2 pl-2 text-white">{{item.laixe_thu_display}}</td>
              <td class="py-2 pl-2 text-white">{{item.laixe_ung_display}}</td>
              <td class="py-2 pl-2 text-white">{{item.laixe_nop_display}}</td>
              <td class="py-2 pl-2 text-white">{{item.do_dau_display}}</td>
              {{!-- <td class="py-2">
                {{#if (eq item.type "thu_tienmat")}}
                  <span class="text-green-400 pl-4 font-medium">Thu Tiền mặt</span>
                {{else if (eq item.type "thu_congno")}}
                  <span class="text-blue-400 pl-4 font-medium">Công Nợ</span>
                {{else}}
                  <span class="text-red-400 pl-4 font-medium">Chi</span>
                {{/if}}
              </td> --}}
              <td class="py-2 pl-2 text-white">{{item.note}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p class="text-gray-500 italic text-center">Không có dữ liệu.</p>
    {{/if}}
  </div>
</div>

{{outlet}}